<main>
  <div class="not-found-page">
    <img src="/images/icons/not-found-icon.svg" alt="icon" class="not-found-icon" />
    <% if (msg) { %>
    <h1><%= msg %></h1>
    <% } else { %>
    <h1>Page not found</h1>
    <% } %>
  </div>
</main>
