<main class="video-page-main-container">
  <div class="video-card">
    <h1 class="video-title"><%= video.title %></h1>
    <video class="video" id="<%= video.id %>" src="/video/<%= video.id %>" autoplay muted controls></video>
  </div>
</main>
