<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Player Application</title>
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <meta
      name="description"
      content="Fast and Simple Note Management system. Organize your tasks, documents, and notes with ease."
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="grid-container"><%- include('header') %> <%- body %> <%- include('footer') %></div>

    <!-- Javascript -->
    <script src="/js/index.js"></script>
  </body>
</html>
